@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.font_size0 {
  font-size: 0;
}
.parallel_box {
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}
.parallel_box_float {
  float: left;
  margin-left: 50px;
}
.q7--float__inner .parallel_box_float:first-child {
  margin-left: 0;
}
.table {
  display: table;
}
.q7__box_table_cell {
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
}
.table .q7__box_table_cell:first-child {
  padding-left: 0;
}
.q7__box_inline-box {
  display: inline-block;
  margin-left: 50px;
  vertical-align: middle;
}
.q7--inlineblock__inner .q7__box_inline-box:first-child {
  margin-left: 0;
}
.flex_box {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.inline-margin-box {
  display: inline-block;
}
.negative_margin {
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
  vertical-align: top;
}
.inline-margin-box__text_fixed {
  box-sizing: border-box;
  font-size: 16px;
  width: 300px;
}
.inline-margin-box__text_variable {
  font-size: 16px;
}
/* 回答はここに書いてね */
