@charset "UTF-8";

/* 回答はここに書いてね */
.hover-effect {
  transition: 0.5s;
}
.q8-1_box {
  margin: 0 auto;
  height: 333px;
  width: 500px;
  overflow: hidden;
  position: relative;
}
.q8-1_box:hover img {
  transform: scale(1.5);
}
.q8-1_text_box {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.8));
}
.q8-1_text_box_position {
  position: absolute;
  bottom: -100%;
  left: 0;
}
.q8-1_box:hover .q8-1_text_box {
  bottom: 0;
} 
.q8-1_text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 16px;
  line-height: 16px;
  padding: 20px;
  box-sizing: border-box;
  word-break: break-all;
}
/* 回答はここに書いてね */
